<div class="blank" style="padding-top: 0px;"></div>
<div id="content" class="site-content">
  <% if (theme.notice) { %>
  <div class="notice" style="margin-top:60px">
    <i class="iconfont icon-notification">
    </i>
    <div class="notice-content">
      <!-- config 里的notice  通知-->
      <!-- <%= theme.notice%> -->
      <!-- 一言API start-->
      <span id="hitokoto" style="margin-left:5px;"> :D 获取中...</span>
      <p align="right" id="afrom"></p>
      <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
      <script>
        fetch('https://v1.hitokoto.cn/?c=h')
          .then(function (res){
            return res.json();
          })
          .then(function (data) {
            var hitokoto = document.getElementById('hitokoto');
            var afrom = document.getElementById('afrom');
            hitokoto.innerText = data.hitokoto;
            afrom.innerText =  '——【' + data.from + ' ' + data.from_who + '】';
          })
          .catch(function (err) {
            console.error(err);
          })
      </script>
      <!-- 一言API END-->
      
    </div>
  </div>
  <% } %>
  <%- partial('_partial/startdash') %>
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <h1 class="main-title" style="font-family: 'Ubuntu', sans-serif;">
      <i class="fa fa-envira" aria-hidden="true"></i>
      Discovery</h1>
      <%- partial('_partial/archive', {pagination: 2, index: true}) %>
    </main>
      <!-- 首页默认取最最新文章集 -->
    <!-- <% if (page.total > 1){ %>
      <nav class="navigator">
        <% var prev_text = __('prev');var next_text = __('next');%>
        <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
      </nav>
    <% } %> -->
  </div>
  <% if (page.total > 1 && page.next_link){ %>
    <div id="pagination"><a href="<%- url_for(page.next_link) %>" class="">Previous</a></div>
  <% } %>
</div>
